ul{
    display: flex;
}

li{
    list-style: none;
}


.lift{
    position: absolute;
    width : 100px;
    height: 130px;
    background-color: blue;
    margin-left: 200px;
    bottom: 0;
    transition-duration: 4s;
}
