ul{
    display: flex;
}

li{
    list-style: none;
}

.whole{
    margin-left: 30px;
}

.lift{
    position: absolute;
    width : 75px;
    height: 100px;
    background-color: blue;
    left: 180px;
    

    transition-duration: 2s;
}
